<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fotografia Gelada</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>

    <!-- //CABEÇALHO -->
    <header>
        <div class="cab">
            <h2>Fotografia Gelada</h2>
            <button  id="btn">Login</button>
        </div>
        <h3>Home</h3>
    </header>

    <!-- //GRID IMAGENS -->
    <article class="layout">

        <div class="item" id="item1">
            <img id="ft1" src="/public/img/GrandCanyon.jpg" alt="">
            <div id="ic">
                <img src="/public/icons/coração.svg" alt="">
                <img src="/public/icons/chat-branco.svg" alt="">
            </div>
        </div>

        <div class="item2 item">
            <img  src="/public/img/Everest.jpg" alt="">
             <div id="ic">
                <img src="/public/icons/coração.svg" alt="">
                <img src="/public/icons/chat-branco.svg" alt="">
            </div>
        </div>

        <div class="item3 item">
            <img  src="/public/img/AlpesSuiços.jpg" alt="">
            <div id="ic">
                <img src="/public/icons/coração.svg" alt="">
                <img src="/public/icons/chat-branco.svg" alt="">
            </div>
        </div>

        <div class="item4 item">
            <img  src="/public/img/Huandoy.jpg" alt="">
            <div id="ic">
                <img src="/public/icons/coração.svg" alt="">
                <img src="/public/icons/chat-branco.svg" alt="">
            </div>
        </div>

        <div class="item5 item">
            <img  src="/public/img/MonteBranco.jpg" alt="">
             <div id="ic">
                <img src="/public/icons/coração.svg" alt="">
                <img src="/public/icons/chat-branco.svg" alt="">
            </div>
        </div>

        <div class="item6 item">
            <img  src="/public/img/MonteElbrus.jpg" alt="">
            <div id="ic">
                <img src="/public/icons/coração.svg" alt="">
                <img src="/public/icons/chat-branco.svg" alt="">
            </div>
        </div>

        <div class="item7 item">
            <img  src="/public/img/MonteFuji.jpg" alt="">
            <div id="ic">
                <img src="/public/icons/coração.svg" alt="">
                <img src="/public/icons/chat-branco.svg" alt="">
            </div>
        </div>

        <div class="item8 item">
            <img  src="/public/img/PicoPikes.jpg" alt="">
            <div id="ic">
                <img src="/public/icons/coração.svg" alt="">
                <img src="/public/icons/chat-branco.svg" alt="">
            </div>
        </div>

    </article>

    <!-- //MODAL LOGIN -->
    <dialog  id="abrir">

            <div class="topo">
                <h2>Fazer login</h2>
            </div>
        <div class="conteudo">
            <div class="linput">
                <label for="">Email</label>
                <input type="text" placeholder="Digite seu Nome">
            </div>
            <div class="linput">
                <label for="">Senha</label>
                <input type="text" placeholder="Digite sua Senha">
            </div>
        </div>
            
        <div class="btns">
            <button id="btn3">Cancelar</button>
            <button class="btn2">Entrar</button>
        </div>
    </dialog>

    <!-- //MODAL IMAGENS -->
     <dialog id="open">

        <div class="container">
            <div class="top">
                <h2>GrandCanyon</h2>
                <img id="x" src="/public/icons/x.svg" alt="">
            </div>

            <img id="gc" src="/public/img/GrandCanyon.jpg" alt="">

            <div class="barrainferior">

                <div class="curtidas">
                    <img id="coracao" src="/public/icons/coraçãoVermelho.svg" alt="">
                    <h4>Curtidas</h4>
                </div>

                <div class="comentarios">
                    <img id="comentario" src="/public/icons/chat-branco.svg" alt="">
                    <h4>Comentarios</h4>
                </div>       

            </div>

             <div class="adicionarcomentario">
                    <div class="add">
                        <img id="comentario" src="/public/icons/chat-branco.svg" alt="">
                        <h4>Adicionar comentario</h4>
                    </div>
                    <img id="send" src="/public/icons/send.svg" alt="">
                </div>

        </div>

     </dialog>

    <!-- //FOOTER -->
    <footer>
        <div class="ftgelada">
            <h2>Fotografia</h2>
            <h2>Gelada</h2>
        </div>
        <div class="icons">
            <img src="/public/icons/Twitter.svg" alt="">
            <img src="/public/icons/Instagram.svg" alt="">
            <img src="/public/icons/youtube.svg" alt="">
            <img src="/public/icons/tiktok.svg" alt="">
        </div>
        <h2 id="copy">Copyright - 2026</h2>
    </footer>

<script src="/modals.js"></script>    
</body>
</html>